<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Open Cart Regression Test Suite" verbose="4" parallel="tests" thread-count="4">
<!--    parallel="tests" thread-count="2"-->

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Open cart Home page Test on chrome">
        <parameter name="browser" value="chrome"></parameter>
          <classes>
              <class name="com.qa.opencart.test.HomePageTest" />
          </classes>
    </test>

    <test name="Open cart Home page Test on firefox">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="com.qa.opencart.test.LoginPageTest"></class>
        </classes>
    </test>

    <test name="Open cart Home page Test on chromium">
        <parameter name="browser" value="chromium"></parameter>
        <classes>
            <class name="com.qa.opencart.test.HomePageTest" />
        </classes>
    </test>

    <test name="Open cart Home page Test on msedge">
        <parameter name="browser" value="edge"></parameter>
        <classes>
            <class name="com.qa.opencart.test.LoginPageTest"></class>
        </classes>
    </test>

</suite>